body {
  background-image:linear-gradient(#ffffee, #22abdd);

}

h1 {
  color: #ffabab;

}

p {
  font-
}

.information{
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
}

.external_links {
  color: #630aff;
  text decoration:underline;
}

.external_links:hover{
  color: #0aff12;
  text-decoration:underline;
}

.footer_links {
  color: #000000;
  text-decoration:none;
}

.footer_links:hover{
  color: #d31919;
  text-decoration:underline;
}
