body {
  background-image:linear-gradient(#ffffee, #22abdd);

}

* {
font-family: "Times New Roman", "Times", "Serif";
font-size: 16px;
}

h1 {
  color: #103e89;

}

div {
  border-style: double;
  border-width: medium;
  border-color: #000000;
}

tfoot {
  font-style: italic;
}

a[href$=".html"]{
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

#qualities{
  font-style: oblique;
}

#polarbear_waving{
  position: relative;
  left: 470px;
  height: 250px;
  width: 400px;
  border: 5px solid white;
  padding: 3px;

}

#polarbear_cub{
  height: 250px;
  width: 400px;
}

#Locations{
  height: 280px;
  width: 400px;
  position: relative;
  left: 600px;
}

#polarbear_walking{
  position: relative;
  right: 25px;
  border-radius: 100px;
}

#dancing_polarbear{

}

#Polarbear_lightsaber{

}

#main_header{
  font-size: 25px;
  position: relative;
  left: 600px;

}

.external_links {
  color: #630aff;
  text decoration:underline;
}

.external_links:hover{
  color: #0aff12;
  text-decoration:underline;
}

.footer_links {
  color: #000000;
  text-decoration:none;
}

.footer_links:hover{
  color: #d31919;
  text-decoration:underline;
}

.information {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 17px;
}

.title {
  position: relative;
  left: 570px;
}

.navigation_bar {
border-top-color: #000000;
border-top-width: thick;
border-bottom-color: #000000;
border-bottom-width: thick;
}

img + p {
  font-weight: lighter;
  color: #57606d
}
